@font-face {
    font-family: 'nb';
    src: url('NBInternationalProBoo.ttf');
}

@font-face {
    font-family: 'rejoy';
    src: url('Rejouice-Headline.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "nb";
}

html,
body {
    width: 100%;
    height: 100%;
}

#page1 {
    width: 100%;
    height: 100vh;
    position: relative;
}

#page1 video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

#cursor {
    width: 7.5vw;
    height: 7.5vw;
    position: fixed;
    background-color: #FF5F38;
    z-index: 9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}

#cursor h5 {
    font-size: 1.15vw;
    font-weight: 500;
}

#page1-content {
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0); */
    z-index: 10;
    position: relative;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* text-wrap: nowrap; */
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(102, 51, 153, 0);
    padding: 3vw 3vw;
    font-size: 1.4vw;
}

nav h3 {
    font-weight: 100;
}

nav h4 {
    font-weight: 100;
}

#page1-content h1>span {
    /* z-index: 9999; */
    /* background-color: rebeccapurple; */
    font-family: "rejoy";
    line-height: 27vw;
    font-size: 27vw;
    font-weight: 100;
}

#page2 {
    width: 100%;
    height: 100vh;
    /* background-color: beige; */
    padding: 5vw 4vw;
}

#page2-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page2-heading h2 {
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);

    font-size: 2vw;
    color: rgba(0, 0, 0, 0.792);
    font-weight: 400;
}

#page2 .word {
    transform: translateY(115px);
    transition: transform .3s;
}

#line {
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.845);
    margin: 1vw;
}

#page2 h1 {
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
    /* background-color: gainsboro; */
    font-size: 4vw;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-family: "nb";
}

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;
}
#page3-top{
    /* background-color: red; */
    text-align: center;
}
#page3-top h4{
    font-weight: 500;
    margin-bottom: 1vw;
    font-size:1vw ;
}
#page3-top h4 span{
    font-size: 0.7vw;
    color: white;
    background-color: black;
    padding: 4px 10px;
    border-radius: 10px;
}
#page3-top h2{
    font-size: 4vw;
    font-weight: 500;
}

#page3-elements{
    margin-top: 8vw;
    height: 75vh;
    width: 100%;
    /* background-color: rebeccapurple; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page3-elements .box{
    position: relative;
    height: 100%;
    width: 32.5%;
    /* background-color: blanchedalmond; */
}
#page3-elements .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page3-elements .box img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear .6s;
}
#page3-elements .box:hover img{
    opacity: 0;
}
